<!-- Cat服务器的配置文件。主要配置hadoop存储地址、消费机和控制台 -->
<config local-mode="true" job-machine="false">
	<!-- 以下配置是Hadoop集群配置，请根据自身情况修改之 -->
	<storage  local-base-dir="/data/appdatas/cat/bucket/">
		<hdfs id="logview" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="logview"/>
		<hdfs id="dump" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="dump"/>
		<hdfs id="remote" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="remote"/>
		<properties>
			<property name="hadoop.security.authentication" value="kerberos"/>
			<property name="dfs.namenode.kerberos.principal" value="hadoop/test86.hadoop@DIANPING.COM"/>
			<property name="dfs.cat.kerberos.principal" value="cat@DIANPING.COM"/>
			<property name="dfs.cat.keytab.file" value="/data/appdatas/cat/cat.keytab"/>
			<property name="java.security.krb5.realm" value="DIANPING.COM"/>
			<property name="java.security.krb5.kdc" value="192.168.7.80"/>
		</properties>
	</storage>

	<!-- 以下配置是消费机集群配置，请根据自身情况修改之 -->
	<consumer>
		<long-config default-url-threshold="1000" default-sql-threshold="100">
			<domain name="Cat" url-threshold="500" sql-threshold="40"/>
		</long-config>
	</consumer>
	
	<!-- 以下是配置控制台配置，请根据自身情况修改之 -->
	<console default-domain="Cat" show-cat-domain="true">
		<!-- 添加多台consumer的地址，用逗号分隔 -->
		<remote-servers>127.0.0.1:2281</remote-servers>		
	</console>
</config>
