<?xml version="1.0" encoding="utf-8"?>

<!-- Configuration for development environment-->
<config local-mode="true" job-machine="false">
	<consumer>
		<long-config default-url-threshold="1000" default-sql-threshold="100">
			<domain name="Cat" url-threshold="500" sql-threshold="40"/>
		</long-config>
	</consumer>
	
	<console default-domain="Cat" show-cat-domain="true">
		<remote-servers>127.0.0.1:2281</remote-servers>		
	</console>
</config>

<!-- Configuration for production environment -->
<!-- Note: -->
<!-- 1. Set local-mode false to activate remote mode. -->
<!-- 2. If machine is job-machine, set job-machine true. -->
<!-- 3. Please set hadoop environment accordingly. -->
<!-- 
<config local-mode="false" job-machine="false">
	<storage  local-base-dir="/data/appdatas/cat/bucket/">
		<hdfs id="logview" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="logview"/>
		<hdfs id="dump" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="dump"/>
		<hdfs id="remote" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="remote"/>
	</storage>

	<consumer>
		<long-config default-url-threshold="1000" default-sql-threshold="100">
			<domain name="Cat" url-threshold="500" sql-threshold="40"/>
		</long-config>
	</consumer>
	
	<console default-domain="Cat" show-cat-domain="true">
		<remote-servers>192.168.0.1:2281,192.168.0.2:2281</remote-servers>		
	</console>
</config>

-->