# Operating System crap
.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts
*.class
.gradle/
build/
target/
bin/
out/
dependency-reduced-pom.xml

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
*.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

cat-client/**/resources/**/*.xsd
