/ws/*
/target/*
/bin/*
/*/target/*
/*/bin/*
/*/.*
.*
/*.bat
!.travis.yml

cat-client/src/main/resources/com/dianping/cat/configuration/client/config.xsd

cat-client/src/main/resources/com/dianping/cat/status/model/status.xsd

