<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <localRepository>/var/mvnrepo</localRepository>
   <servers>
      <server>
         <id>thirdparty</id>
         <username>admin</username>
         <password>Passw0rd</password>
      </server>
      <server>
         <id>releases</id>
         <username>admin</username>
         <password>Passw0rd</password>
      </server>
      <server>
         <id>snapshots</id>
         <username>admin</username>
         <password>Passw0rd</password>
      </server>
   </servers>
   <mirrors>
      <mirror>
         <id>central</id>
         <mirrorOf>central</mirrorOf>
         <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/central/</url>
      </mirror>
   </mirrors>
   <profiles>
      <profile>
         <id>dev</id>
         <repositories>
            <repository>
               <id>central</id>
               <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/central/</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
            <repository>
               <id>releases</id>
               <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/releases/</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
            <repository>
               <id>snapshots</id>
               <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/snapshots/</url>
               <releases>
                  <enabled>false</enabled>
               </releases>
               <snapshots>
                  <enabled>true</enabled>
               </snapshots>
            </repository>
            <repository>
               <id>thirdparty</id>
               <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/thirdparty/</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
            <repository>
               <id>com.springsource.repository.bundles.release</id>
               <name>SpringSource Enterprise Bundle Repository - SpringSource Bundle Releases</name>
               <url>http://repository.springsource.com/maven/bundles/release</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
            <repository>
               <id>com.springsource.repository.bundles.external</id>
               <name>SpringSource Enterprise Bundle Repository - External Bundle Releases</name>
               <url>http://repository.springsource.com/maven/bundles/external</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>central</id>
               <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/central/</url>
            </pluginRepository>
            <pluginRepository>
               <id>releases</id>
               <url>http://tech-wuqim.dianpingoa.com/nexus/content/repositories/releases/</url>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <activeProfiles>
      <activeProfile>dev</activeProfile>
   </activeProfiles>
   <pluginGroups>
      <pluginGroup>org.mortbay.jetty</pluginGroup>
      <pluginGroup>org.codehaus.mojo</pluginGroup>
      <pluginGroup>org.sonatype.maven.plugins</pluginGroup>
      <pluginGroup>com.site.maven.plugins</pluginGroup>
      <pluginGroup>com.ebay.maven.plugins</pluginGroup>
   </pluginGroups>
</settings>
