<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <filter>
      <filter-name>cat-filter</filter-name>
      <filter-class>com.dianping.cat.servlet.CatFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>cat-filter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
      <dispatcher>ERROR</dispatcher>
   </filter-mapping>
   <listener>
      <listener-class>com.dianping.cat.servlet.CatListener</listener-class>
   </listener>
   <servlet>
      <servlet-name>mvc-servlet</servlet-name>
      <servlet-class>com.site.web.MVC</servlet-class>
      <init-param>
         <param-name>cat-client-xml</param-name>
         <param-value>/data/appdatas/cat/client.xml</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>mvc-servlet</servlet-name>
      <url-pattern>/alarm/*</url-pattern>
   </servlet-mapping>
</web-app>

