<html>
<head>
<title>Reports</title>
</head>
<body>
<br/>
<br/>
<table rules="all">
	<tr>
		<td colspan="7">${title}&nbsp;&nbsp;${preWeakLastDay}&nbsp;&nbsp;${preWeakDay}
		</td>
	</tr>
	<tr>
		<td ></td>
		<td >Type</td>
		<td >Total Count</td>
		<td >Failure Count</td>
		<td >Failure%</td>
		<td >Link</td>
	    <td ></td>
	</tr>
	
	<#list type as typeList>
		<tr>
			<td>${type.totalCount}</td>
			<td>${type.failCount}</td>
			<td>${type.failPercent}</td>
			<td a href="${type.link}">趋势图</td>
			<td>${service.avg[0]}</td>
			<td>${service.count[1]}</td>
			<td>${service.avg[1]}</td>
			<td>${service.max[1]}</td>
			<td>${service.count[2]}</td>
			<td>${service.avg[2]}</td>
			<td>${service.max[2]}</td>
			<td>${service.count[3]}</td>
			<td>${service.count[4]}</td>
			<td>${service.avg[4]}</td>
			<td>${service.max[4]}</td>
		</tr>
	</#list>
	#foreach( $type in $typeList)
	<tr>
		<td ></td>
		<td>$!type.id</td>
		<td style="text-align:right">$!type.totalCount</td>
		<td style="text-align:right">$!type.failCount</td>
		<td style="text-align:right">$!type.failPercent</td>
		<td>$!type.link</td>
		<td ></td>
    </tr>
    #end
    <tr></tr>
</table>
</body>
</html>
