.enable_collapsible_responsive_menu() when(@enable-collapsible-responsive-menu = true) {

//3rd style responsive menu (the collapsible menu)

@media only screen and (min-width: @grid-float-breakpoint) {
 .sidebar.navbar-collapse {
	max-height: none;
 }
}

@media only screen and (max-width: @grid-float-breakpoint-max) {
 .sidebar.navbar-collapse {
	position: relative;
	float: none !important;//to override .rtl's
	margin-top: auto;
	z-index: 1;//for box-shadow to be visible

	width: 100% !important;
	max-height: @pre-scrollable-max-height;
	margin-left: 0;
	margin-right: 0;

	&:before {
		display: none;
	}

	.nav-list > li:last-child {
		border-bottom-width: 0;
	}
	.nav-list > li > a {
		padding-top: 10px !important;//to override .compact, etc
		padding-bottom: 10px !important;

		line-height: 20px !important;
		height: @nav-item-height + 2 !important;
	}
	.nav-list > li:before {
		height: @nav-item-height + 4 !important;
	}
	.nav-list > li.active:after {
		display: none;
	}

	//-li > .arrow
	li > .arrow {
		display: none !important;
	}

	.nav-list li > .submenu {
		border-left-width: 0 !important;
	}

	.sidebar-toggle {
		display: none !important;
	}
	.sidebar-shortcuts {
		padding: 3px 0 6px !important;
		max-height: none !important;
		border-bottom-width: 0;
	}

	+ .main-content {
		margin-left: 0 !important;
		.breadcrumb {
			margin-left: @breadcrumb-margin-left;
		}
	}
	
	//first sidebar scroll style
	.nav-wrap + .ace-scroll {
		display: none;
	}

	&.menu-min {
		.nav-list > li > .submenu {
			position: relative;
			left: auto;
			top: auto;
			width: auto;
			z-index: auto;
			
			margin-top: auto !important;
			padding-top: 0;
			padding-bottom: 0;

			border-width: 1px 0 0 0;
			.box-shadow(none) !important;//to override .rtl's

			&:before {
				display: block;
			}
			> li:before {
				display: block;
			}
			li > a  {
				padding-left: 37px !important;	
				> .menu-icon {
					left: 10px;
				}
			}
			
			//hide the extra pixel
			&:after {
				display: none;
			}
		}
		
		.nav-list > li > a:hover:before {// the left side border on hover
			width:3px;
		}
		
		.nav-list > li > a {
			text-align: left;
			padding-left: 7px;
		}
		.nav-list > li > a > .menu-icon {
			display: inline-block;
			width: auto;
			margin-right: 2px;
		}
		.nav-list > li > a > .menu-text {
			position: relative;
			display: inline !important;
			line-height: normal;
			padding-left: 0;
			height: auto;
						
			top: auto;
			left: auto;
			z-index: auto;
			width: auto;

			border-width: 0  !important;
			background-color: transparent !important;

			.box-shadow(none) !important;
		}
		.nav-list a > .arrow {
			display: block;
		}
		
		.nav-list > li:hover > .submenu {
			display: none !important;
		}
		.nav-list > li.active > .submenu	{
			display: block !important;
		}
		.nav-list > li > .submenu.nav-show {
			display: block !important;
		}
		.nav-list > li > .submenu.nav-hide {
			display: none !important;
		}

		.sidebar-shortcuts-large {
			display: block;
			position: static;
			.box-shadow(none) !important;//to override .rtl's;
			border-width: 0;
			background-color: transparent;
			width: auto;

			padding: 0 !important;//override that of .menu-min
		}
		.sidebar-shortcuts-mini {
			display: none;
		}
	}//menu-min


	.nav-list a {
	  .badge , .label {
		position: relative;
		top: -1px;
		right: auto;
		left: 4px;
	  }
	}

	.nav-list > li.active:after, 
	.nav-list li.active > a:before,
	.nav-list li.active > a:after {
		display: none !important;
	}

	
	//.highlight
	.nav-list > li.highlight.active > a {
		&:before, &:after {
			display: none !important;
		}
	}
 }
}

.enable_hover_submenu_responsive_style_3() when(@enable-submenu-hover = true) {
@media (min-width: @screen-hover-menu) and (max-width: @grid-float-breakpoint-max) {
  .sidebar.navbar-collapse {
	.nav-list > li > .submenu li.hover > .submenu > li > a,
	.nav-list > li > .submenu li > .submenu > li.hover > .submenu > li > a {
			margin-left: 20px !important;
	}
  }
}
}
.enable_hover_submenu_responsive_style_3();


 //if .sidebar is .navbar-collapse, and .navbar is fixed, make .sidebar fixed as well
 @media (max-width: @grid-float-breakpoint-max) {
   .navbar-fixed-top + .main-container .sidebar.navbar-collapse {
		position: fixed;
		z-index: @zindex-sidebar-fixed;
   }
 }
 @media (min-width: @screen-sm-min) and (max-width: @grid-float-breakpoint-max) {
   .navbar-fixed-top + .main-container.container .sidebar.navbar-collapse {
		width: @container-sm !important;
   }
 }

}
.enable_collapsible_responsive_menu();


