<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://toolkit.alibaba-inc.com/dtd/log4j/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="defaultAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="file" value="./logs/default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="7"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} %p %c{1}(%L) - %m%n" />
		</layout>
	</appender>
	<appender name="monitorAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="file" value="./logs/monitor.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="7"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} - %m%n" />
		</layout>
	</appender>
	<appender name="dispatcherAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="file" value="./logs/dispatcher.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="7"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} - %m%n" />
		</layout>
	</appender>
	<appender name="retryAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="file" value="./logs/retry.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="7"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} - %m%n" />
		</layout>
	</appender>
	<appender name="jingweiAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="file" value="./logs/jingwei.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="maxBackupIndex" value="7"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH\:mm\:ss,SSS} %p %c{1}(%L) - %m%n" />
		</layout>
	</appender>
	
	<logger name="com.taobao.jingwei" additivity="false">
		<level value="${log.level}" />
		<appender-ref ref="jingweiAppender" />
	</logger>
	<logger name="com.taobao.tddl.venus" additivity="false">
		<level value="${log.level}" />
		<appender-ref ref="jingweiAppender" />
	</logger>
	<logger name="com.taobao.tddl.dbsync" additivity="false">
		<level value="${log.level}" />
		<appender-ref ref="jingweiAppender" />
	</logger>
	<logger name="com.taobao.iss.monitor.MonitorHelper" additivity="false">
		<level value="${log.level}" />
		<appender-ref ref="monitorAppender" />
	</logger>
	<logger name="com.taobao.mic.sync.retry.BdbLogger" additivity="false">
		<level value="warn" />
		<appender-ref ref="retryAppender" />
	</logger>
	<logger name="retryLogger" additivity="false">
		<level value="warn" />
		<appender-ref ref="retryAppender" />
	</logger>
	<logger name="com.taobao.mic.sync.dispatcher" additivity="false">
		<level value="warn" />
		<appender-ref ref="dispatcherAppender" />
	</logger>
	<logger name="com.taobao.config" additivity="false">
		<level value="warn" />
		<appender-ref ref="defaultAppender" />
	</logger>
	<logger name="org.apache.zookeeper.ClientCnxn" additivity="false">
		<level value="warn" />
		<appender-ref ref="defaultAppender" />
	</logger>
	<root>
		<level value="debug" />
		<appender-ref ref="defaultAppender" />
	</root>
</log4j:configuration>