<html>
<head>
<title>Reports</title>
</head>
<body>
<br/>
<br/>
<table rules="all">
	<tr>
		<td colspan="9">${title}&nbsp;&nbsp;${preWeakLastDay}&nbsp;&nbsp;${preWeakDay}
		</td>
	</tr>
	<tr>
	    <td></td>
		<td >Type</td>
		<td >Total Count</td>
		<td >Failure Count</td>
		<td >Failure%</td>
		<td >Avg(ms)</td>
		<td >TPS</td>
		<td >Operation</td>
		<td></td>
	</tr>
	#foreach( $type in $typeList)
	<tr>
	    <td></td>
	    <td>$!type.id</td>
        <td>$!type.totalCount</td>
        <td>$!type.failCount</td>
        <td>$!type.failPercent</td>
        <td>$!type.avg</td>
        <td>$!type.tps</td>
        <td>$!type.successMessageUrl</td>
        <td></td>
    </tr>
    #end
    <tr></tr>
</table>
</body>
</html>
