<html>
<head>
<title>Reports</title>
</head>
<body>
<br/>
<br/>
<table rules="all">
    <tr>
		<td colspan="5">${title}
		</td>
	</tr>
    <tr>
        <th></th>
		<th>Type</th>
		<th>Total</th>
		<th>Operation</th>
	    <th></th>
	</tr>
	#foreach( $statistics in ${problemStatistics.status})
	      <tr>
	          <td ></td>
		      <td >${statistics.type}</td>
		      <td >${statistics.count}</td>
		      <td >${statistics.trendUrl}</td>
		      <td ></td>
		  </tr>
    #end
    <tr></tr>
</table>
</body>
</html>
