<html>
<head>
<title>Reports</title>
</head>
<body>
<br/>
<br/>
<table width="100%" rules="all">
    <tr>
		<td colspan="4">${title}
		</td>
	</tr>
    <tr>
		<th>Type</th>
		<th>Total</th>
		<th>Status</th>
		<th>Count</th>
	</tr>
	#foreach( $statistics in ${problemStatistics.status})
	      <tr>
		      <td rowspan="${statistics.status.size()}">${statistics.type}</td>
		      <td rowspan="${statistics.status.size()}">${statistics.count}</td>
		      #set ($i=0) 
		      #foreach($one in ${statistics.status})
			      #if($i!=0) 
			         <tr>
			      #end 
		          <td >${one.status}</td>
				  <td >${one.count}</td>
				  #if($i!=0) 
			         </tr>
			      #end 
		          #set($i=$i+1)
		      #end 
		  </tr>
    #end
</table>
</body>
</html>
