<?xml version="1.0" encoding="utf-8"?>
<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee">
   <filter>
      <filter-name>mvc-filter</filter-name>
      <filter-class>org.unidal.web.MVCFilter</filter-class>
      <init-param>
         <param-name>cat-client-xml</param-name>
         <param-value>/data/appdatas/cat/client.xml</param-value>
      </init-param>
      <init-param>
         <param-name>liger-home</param-name>
         <param-value>/data/appdatas/liger</param-value>
      </init-param>
      <init-param>
         <param-name>excludes</param-name>
         <param-value>/css/*,/img/*,/js/*</param-value>
      </init-param>
   </filter>
   <filter-mapping>
      <filter-name>mvc-filter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
</web-app>
