<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<listener>
		<listener-class>com.dianping.cat.servlet.CatServerListener</listener-class>
	</listener>
	<filter>
		<filter-name>cat-filter</filter-name>
		<filter-class>com.dianping.cat.servlet.CatFilter</filter-class>
	</filter>
	<filter>
		<filter-name>domain-filter</filter-name>
		<filter-class>com.dianping.cat.report.view.DomainFilter</filter-class>
	</filter>
	<filter>
		<filter-name>mvc-filter</filter-name>
		<filter-class>org.unidal.web.MVCFilter</filter-class>
		<init-param>
			<param-name>cat-client-xml</param-name>
			<param-value>client.xml</param-value>
		</init-param>
		<init-param>
			<param-name>init-modules</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/assets/*,/css/*,/doc/*,/img/*,/images/*,/js/*</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>cat-filter</filter-name>
		<url-pattern>/r/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>domain-filter</filter-name>
		<url-pattern>/r/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cat-filter</filter-name>
		<url-pattern>/s/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cat-filter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>mvc-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/app.tld</taglib-uri>
			<taglib-location>/WEB-INF/app.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>

