<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<mirrors>
		<mirror>
			<id>nexus-tencentyun</id>
			<mirrorOf>!mengxiangge-github-snapshots</mirrorOf>
			<name>Nexus tencentyun</name>
			<url>http://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>${env.MAVEN_RELEASES_ID}</id>
			<username>${env.MAVEN_RELEASES_USERNAME}</username>
			<password>${env.MAVEN_RELEASES_PASSWORD}</password>
		</server>
		<server>
			<id>${env.MAVEN_SNAPSHOTS_ID}</id>
			<username>${env.MAVEN_SNAPSHOTS_USERNAME}</username>
			<password>${env.MAVEN_SNAPSHOTS_PASSWORD}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>coding</id>
			<properties>
				<altReleaseDeploymentRepository>
					${env.MAVEN_RELEASES_ID}::default::${env.MAVEN_RELEASES_URL}
				</altReleaseDeploymentRepository>
				<altSnapshotDeploymentRepository>
					${env.MAVEN_SNAPSHOTS_ID}::default::${env.MAVEN_SNAPSHOTS_URL}
				</altSnapshotDeploymentRepository>
			</properties>
			<repositories>
				<repository>
					<id>${env.MAVEN_RELEASES_ID}</id>
					<url>${env.MAVEN_RELEASES_URL}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>${env.MAVEN_SNAPSHOTS_ID}</id>
					<url>${env.MAVEN_SNAPSHOTS_URL}</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>${env.MAVEN_RELEASES_ID}</id>
					<url>${env.MAVEN_RELEASES_URL}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>${env.MAVEN_SNAPSHOTS_ID}</id>
					<url>${env.MAVEN_SNAPSHOTS_URL}</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>coding</activeProfile>
	</activeProfiles>
</settings>
