<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE_FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/data/applogs/broker-service/app/app.log" />
		<param name="Append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd.HH"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %c -%-4r [%t] %-5p %x - %m%n" />
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE_FILE" />
	</root>
</log4j:configuration>