@font-size-brand: 24px;//brand logo text size


@nav-item-font-size: 13px;
@nav-item-icon-size: 18px;
@nav-item-arrow-size: 18px;
@font-size-old-toggle-button: 13px;
@font-size-sidebar-minimize-icon: 14px;

@font-size-submenu-item-icon: 12px;
@font-size-submenu-3rd-level-icon: 14px;



@font-size-breadcrumb: @baseFontSize;
@font-size-breadcrumb-sep: 14px;//!ignore

@font-size-alert: 14px;

@font-flot-chart-label: 10px;//!ignore

@font-size-btn-sm: @baseFontSize;
@font-size-btn-minier: @font-size-btn-sm - 1;

@font-size-btn-app: 18px;
@font-size-btn-app-icon: 42px;

@font-size-btn-app-sm: 16px;
@font-size-btn-app-sm-icon: 32px;

@font-size-btn-app-xs: 15px;
@font-size-btn-app-xs-icon: 24px;

@font-size-label-inside-btn-app: @baseFontSize;

@font-size-navbar-dropdown-header: @baseFontSize;
@font-size-navbar-dropdown-footer: @baseFontSize;
@font-size-navbar-dropdown-icon: 14px;
@font-size-navbar-dropdown-item: 12px;
@font-size-navbar-dropdown-msg-time: 11px;

@font-size-dropdown-menu: @baseFontSize;

@font-size-file-input-name: @baseFontSize;
@font-size-file-input-icon: @baseFontSize;

@font-size-file-input-btn: 11px;
@font-size-file-input-name-large: 18px;
@font-size-file-input-icon-large: 64px;


@font-size-help-button: @baseFontSize - 1;
@font-size-label: @baseFontSize + 1;
@font-size-help-inline: @baseFontSize;

@font-size-input-icon: 16px;

@font-size-gallery-hover-tools: 18px;

@font-size-content-header: 24px;
@font-size-content-header-small: 14px;

@font-size-infobox-icon: 24px;
@font-size-infobox-data: 13px;
@font-size-infobox-data-number: 22px;
@font-size-infobox-text: 16px;

@font-size-infobox-dark-icon: 30px;
@font-size-infobox-sparkline: 24px;
@font-size-infobox-stat: 13px;
@font-size-infobox-badge: 11px;


@font-size-item-time: 11px;//item lists
@font-size-item-time-icon: 14px;
@font-size-item-text: @baseFontSize;


@font-size-badge: @baseFontSize - 1;

@font-size-navbar-nav-item: @baseFontSize;
@font-size-navbar-nav-input: @baseFontSize;

@font-size-navbar-user-button-icon: 16px;
@font-size-user-menu: 14px;


@font-size-inbox-tab-large: 14px;
@font-size-inbox-attachment-icon: 18px;
@font-size-inbox-start-icon: 15px;


@font-size-invoice-data: @baseFontSize + 1;

@font-size-login-box-footer-links: 15px;
@font-size-signup-box-footer-link: 14px;
@font-size-login-social-icon: 24px;

@font-size-pricing-price: 22px;
@font-size-pricing-price-small: 22px;
@font-size-pricing-button: 16px;
@font-size-pricing-table-caption: @baseFontSize;
@font-size-pricing-table-value: @baseFontSize;

@font-size-timeline-badge: @font-size-badge;
@font-size-timeline-icon: 16px;
@font-size-timeline-style2-label: 14px;

@font-size-searchbox: 13px;
@font-size-searchbox-icon: 14px;


@font-size-accordion-toggle: @baseFontSize;

@font-size-wysiwyg-button-icon: 14px;

@font-size-tooltip: @baseFontSize - 1;

@font-size-widget-toolbar-icon: 14px;


@font-size-spinner-button-large: 18px;
@font-size-wizard-step: @baseFontSize + 2;
@font-size-wizard-title: @baseFontSize + 1;

