<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CatConfiguration" type="Org.Unidal.Cat.Configuration.CatConfigurationSection,Cat"/>
  </configSections>
  <CatConfiguration>
    <domain id="cat_test" enabled="true" max_message_size="1024" client_load_balance="true"/>
    <logEnabled enabled="true"/>
    <servers>
      <server ip="172.22.60.139" port="2280" http-port="8080"/>
      <!--可配置多个server地址-->
      <!--<server ip="127.0.0.1" port="2280" http-port="8080"/>-->
    </servers>
  </CatConfiguration>
  
  <appSettings>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
