/* this css is for alertView.jsp */
.network {
	color: #3a87ad;
}

.business {
	color: #b94a48;
}

.exception {
	color: #999;
}

.system {
	color: #c09853;
}

.thirdParty {
	color: #3a985d;
}

.frontEnd {
	color: #468847;
}

.zabbix {
	color: #4D8C51;
}

.heartbeat {
	color: #FFA621;
}

.app {
	color: #7890A8;
}

.web {
	color: #FFA621;
}