body {
	font-family: arial, helvetica, sans-serif;
	background: white;
	color: black;
}

.report .header {
	background:#f5f5f5;
	font-weight: bold;
	border-bottom: solid black 1px;
	border-radius:4px;
	width: 100%;
}

.report .navbar {
	font-weight: bold;
	border-bottom: solid black 1px;
	width: 100%;
}

.report .navbar .nav {
	text-align: right;
	font-weight: bold;
}

.report .header .nav {
	text-align: right;
	font-weight: bold;
	color: black;
}

.report .navbar .nav A {
	text-decoration: none;
	color: blue;
}

.report .navbar .nav  A:hover {
	color: yellow;
}

 .footer {
	background:#f5f5f5;
	font-weight: bold;
	border-top: solid black 1px;
	width: 100%;
	text-align: center;
	border-radius:4px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.current {
	background-color: #3CB371;
}
table{
	font-size: 14px;
}
tr.head {
	background-color: #e8e8e8;
}

tr.strip {
	background-color: #f2f2f2;
}

tr.head th {
	background-color: #f2f2f2;
	border-bottom: 1px solid #c4c4c4;
}

tr th {
	background-color: #f2f2f2;
	
}

tr.odd td {
	background-color: #eee;
	
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

tr.even td {
	background-color: white;
	
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

tr.odd th {
	background-color: #eee;
	
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

tr.even th {
	background-color: white;
	
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

.data {
	
	min-width:50%;	
}
.data tr th{
	text-align:right;
}
.data .odd td {
	background-color: #eee;
	
	text-align:right;
}

.data .even td {
	background-color: white;
	
	text-align:right;
}
.data th .left{
	text-align:left;
}

.data tr .left{
	text-align:left;
}

.data tr .left{
	text-align:left;
}

.problem td.odd  {
	background-color: #eee;
	word-break:break-all;
}

.problem td.even  {
	background-color: white;
	word-break:break-all;
}

a.error {
	background-color: red;
}

a.failure {
	background-color: #770000;
}

a.long-url {
	background-color: blue;
}

a.long-url {
	background-color: #5599CC;
}
a.long-sql {
	background-color: #6699CC;
}

a.long-call {
	background-color: #6688BB;
}

a.long-cache {
	background-color: #6677AA;
}

a.url{
	background-color: #cc0000;
}
a.sql{
	background-color: purple;
}

a.call{
	background-color: #9966ff;
}
a.cache{
	background-color: #aa3faa;
}
a.heartbeat{
	background-color: #009933;
}

a.abtest-heartbeat{
	background-color: #009933;
}
.detail {
	
	border-spacing: 1px;
}
.top{
	vertical-align: top;
}

#msgObjRef {
	position: absolute;
	text-align: center;
	border: 1px solid;
	border-color: #666699;
	background-color: #FFFFFF;
	line-height: 22px;
	z-index: 102;
}

#titleBar {
	text-align: left;
	color: #FFFFFF;
	cursor: move;
	background-color: #06C;
}

#closeBtn {
	width:10px;
	cursor: pointer;
	background-color: #06C;
}

.version {
	text-align: left;
	width: 80%;
	border-radius: 6px;
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.login {
	height: 12px;
	width: 97%;
	text-align: right;
	margin-right: 20px;
	pedding-right: 20px;
}

.department {
	text-align: center;
	font-size: medium;
	font-weight: bold;
	width: 100px;
}

.domain {
	text-align: left;
	font-weight: bold;
	padding-left: 4px;
}

.longText {
	text-align: left;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}

.lable{
	font-weight:bold;
}

.required{
	color:red;
}

.graph {
	width: 450px;
	height: 200px;
	margin: 4px auto;
}

.metricGraph {
	width: 530px;
	height: 250px;
}

.pieChart {
	text-align:left;
	width: 700px;
	height: 450px;
	margin: 4px auto;
}
.error{
	color:red;
}

.dashboard{
	background: url('../img/checked.gif') no-repeat;
}

.navbar{
	margin-bottom:5px;
}