body {
	font-family: arial, helvetica, sans-serif;
	font-size: small;
	background: white;
	color: black;
	margin: 4px;
	padding: 0;
}

html {
	margin: 0
}
.report .header {
	background: orange;
	color: white;
	font-weight: bold;
	border-bottom: solid black 1px;
	width: 100%;
}

.report .header .title {
	font-weight: bold;
	color: black;
	width:33%;
}

.report .navbar {
	background: lightblue;
	font-weight: bold;
	border-bottom: solid black 1px;
	width: 100%;
}

.report .navbar .domain {
	text-align: left;
	font-size: small;
	font-weight: bold;
	padding-left:4px;
}

.report .navbar .domain A {
	text-decoration: none;
	color: blue;
}

.report .navbar .domain .current {
	color: black;
}

.report .navbar .domain  A:hover {
	color: yellow;
}

.report .navbar .nav {
	text-align: right;
	font-size: small;
	font-weight: bold;
}

.report .header .nav {
	text-align: right;
	font-size: small;
	font-weight: bold;
	color: black;
	width:34%;
}

.report .header .switch {
	text-align: center;
	font-size: small;
	font-weight: bold;
	width:33%;
}

.report .navbar .nav A {
	text-decoration: none;
	color: blue;
}

.report .navbar .nav  A:hover {
	color: yellow;
}

.report .footer {
	background: orange;
	color: white;
	font-weight: bold;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	width: 100%;
	text-align: center;
}

.report .position{
	padding:4px;
	padding-left:10px;
	font-weight: bold;
	font-size: 14px;
	background: lightBlue;
}
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.current {
	background-color: orange;
	color: white;
}

.subtitle {
	font-size: small;
}

.timestamp {
	font-size: small;
}

ul.tabs {
	border-bottom: 1px solid black;
	list-style-type: none;
	position: relative;
	padding: 0em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.tabs li {
	display: inline;
	margin: 0em 0.4em 0em 0.4em;
	padding: 0.4em 0.4em 0.4em 0.4em;
	overflow: hidden;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.tabs li.selected {
	background: #ccddff;
	border-bottom: 1px solid white;
}

table {
	font-size: small;
}

tr.head {
	background-color: #e8e8e8;
}

tr.strip {
	background-color: #f2f2f2;
}

tr.head th {
	background-color: #f2f2f2;
	border-bottom: 1px solid #c4c4c4;
}

tr th {
	background-color: #f2f2f2;
	font-size: small;
}

tr.odd td {
	background-color: #eee;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

tr.even td {
	background-color: white;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

tr.odd th {
	background-color: #eee;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

tr.even th {
	background-color: white;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
	text-align: left;
}

.data {
	font-size: small;
	min-width:50%;	
}
.data tr th{
	text-align:right;
}
.data .odd td {
	background-color: #eee;
	font-size: small;
	text-align:right;
}

.data .even td {
	background-color: white;
	font-size: small;
	text-align:right;
}
.data th .left{
	text-align:left;
}

.data tr .left{
	text-align:left;
}

.data tr .left{
	text-align:left;
}

.problem tr.odd td {
	background-color: #eee;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

.problem tr.even td {
	background-color: white;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

.problem td.odd  {
	background-color: #eee;
	white-space: nowrap;
}

.problem td.even  {
	background-color: white;
	white-space: nowrap;
}

a.error {
	background-color: red;
}

a.failure {
	background-color: #770000;
}

a.long-url {
	background-color: blue;
}

a.long-sql {
	background-color: #6699CC;
}

a.url{
	background-color: #cc0000;
}
a.sql{
	background-color: purple;
}

a.call{
	background-color: #9966ff;
}
a.cache{
	background-color: #aa3faa;
}
a.heartbeat{
	background-color: #009933;
}
.detail {
	font-size: small;
	border-spacing: 1px;
}
.current {
	background-color: orange;
	color: white;
}
.top{
	vertical-align: top;
}

#msgObjRef {
	position: absolute;
	text-align: center;
	border: 1px solid;
	border-color: #666699;
	background-color: #FFFFFF;
	line-height: 22px;
	z-index: 102;
}

#titleBar {
	text-align: left;
	color: #FFFFFF;
	cursor: move;
	background-color: #06C;
}

#closeBtn {
	width:10px;
	cursor: pointer;
	background-color: #06C;
}

.version {
	text-align: left;
	width: 80%;
	border-radius: 6px;
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.login {
	height: 12px;
	width: 97%;
	text-align: right;
	margin-right: 20px;
	pedding-right: 20px;
}

.department {
	text-align: center;
	font-size: medium;
	font-weight: bold;
	width: 100px;
}

.domain {
	text-align: left;
	font-weight: bold;
	padding-left: 4px;
}

.longText {
	text-align: left;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}

.lable{
	font-weight:bold;
}

.required{
	color:red;
}

.graph {
	width: 450px;
	height: 200px;
	margin: 4px auto;
}

.pieChart {
	text-align:left;
	width: 700px;
	height: 450px;
	margin: 4px auto;
}