body {
	font-family: arial, helvetica, sans-serif;
	background: white;
	color: black;
}

.report .header {
	background: #f5f5f5;
	font-weight: bold;
	border: solid #ccc 1px;
	border-radius: 4px;
	width: 100%;
}

.report .header .nav {
	text-align: right;
	font-weight: bold;
	color: black;
}

.footer {
	background: #f5f5f5;
	font-weight: bold;
	border: solid #ccc 1px;
	width: 100%;
	text-align: center;
	border-radius: 4px;
}

.current {
	background-color: #3CB371;
}

table {
	font-size: 14px;
}

.data{
	border:1px solid #dddddd;
	border-radius:4px;
}

.data tr.head th {
	background-color: #f2f2f2;
}

.data tr th {
	background-color: #f2f2f2;
}

.data tr.odd td {
	background-color: #eee;
}

.data tr.even td {
	background-color: white;
}

.data tr.odd th {
	background-color: #eee;
}

.data tr.even th {
	background-color: white;
}

.data td.odd {
	background-color: #eee;
}

.data td.even {
	background-color: white;
}

th{
	word-break: break-all;
}
td{
	word-break: break-all;
}

a.error {
	background-color: red;
}

a.failure {
	background-color: #770000;
}

a.long-url {
	background-color: blue;
}

a.long-url {
	background-color: #5599CC;
}

a.long-sql {
	background-color: #6699CC;
}

a.long-call {
	background-color: #6688BB;
}

a.long-cache {
	background-color: #6677AA;
}

a.url {
	background-color: #cc0000;
}

a.long-service{
	background-color: #9966dd;
}

a.sql {
	background-color: purple;
}

a.call {
	background-color: #9966ff;
}

a.cache {
	background-color: #aa3faa;
}

a.heartbeat {
	background-color: #009933;
}

.detail {
	border-spacing: 1px;
}

.top {
	vertical-align: top;
}

#msgObjRef {
	position: absolute;
	text-align: center;
	border: 1px solid;
	border-color: #666699;
	background-color: #FFFFFF;
	line-height: 22px;
	z-index: 102;
}

#titleBar {
	text-align: left;
	color: #FFFFFF;
	cursor: move;
	background-color: #06C;
}

#closeBtn {
	width: 10px;
	cursor: pointer;
	background-color: #06C;
}

.version {
	text-align: left;
	width: 80%;
	border-radius: 6px;
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.department {
	text-align: left;
	font-size:15px;
	width: 100px;
}

.machines{
	margin-top:5px;
	margin-bottom:5px;
}

.longText {
	text-align: left;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}

.required {
	color: red;
}

.graph {
	width: 450px;
	height: 300px;
	margin: 4px auto;
}

.metricGraph {
	width: 400px;
	height: 250px;
}

.pieChart {
	text-align: left;
	width: 700px;
	height: 450px;
	margin: 4px auto;
}

.error {
	color: red;
}

.dashboard {
	background: url('../img/checked.gif') no-repeat;
}

.navbar {
	margin-bottom: 5px;
}

.navbar .navbar-inner {
	padding-left: 5px;
}

.navbar-inner .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar .brand {
	padding: 10px 00px 00px;
	margin-left: 0px;
}

select{
	margin-bottom:0px;
}
ul, ol{
	margin:0 0 10px 25px;
}

#loginModal .form-horizontal .control-label{
	width:50px;
}
#loginModal .form-horizontal .controls{
	margin-left:70px;
}
.aleration_puppet{
	background:#F0FFFF;
}
.aleration_lazyman{
	background:#F5F5DC;
}
.aleration_workflow{
	background:#87CEEB;
}
.table-condensed th, .table-condensed td{
padding: 2px 3px;
vertical-align:middle;
}