body {
	font-family: arial, helvetica, sans-serif;
	font-size: small;
	background: white;
	color: black;
	margin: 4px;
	padding: 0;
}

html { margin: 0 }

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul.tabs {
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: relative;
	padding: 0em;
	padding-bottom: 0.4em;
}

.tabs li {
	display: inline;
	margin: 0em 0.4em 0em 0.4em;
	padding: 0.4em 0.4em 0.4em 0.4em;
	overflow: hidden;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

.tabs li.selected {
	background: #ccddff;
	border-bottom: 1px solid white;
}

tr.head {
	background-color: #e8e8e8;
}

tr.strip {
	background-color: #f2f2f2;
}

tr.head th {
	background-color: #f2f2f2;
	border-bottom: 1px solid #c4c4c4;
}

tr th {
	background-color: #f2f2f2;
}
