.report-table {
	border-spacing: 0;
	width:100%;
}

.report-table th,.report-table td {
	padding: 3px;
	background-color: #f5f5f5;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.report-table caption {
	background-color: #f6a929;
	padding: 3px;
	color: #fff;
	font-weight: bold;
}

.report-table th {
	color: #6c9dab;
}

.report-table .RuntimeException {
	background-color: #CCFFFF;
}

.report-table .Exception {
	background-color: #CCCCCC;
}

.report-table .Error {
	background-color: #FFCCCC;
}

.report-table .LongUrl {
	background-color: #FF6666;
}

.report-table .Other {
	background-color: #FF6666;
}