.ip-table {
	width: auto;
	font-size: small;
}

.ip-table .odd td {
	background-color: #eee;
	font-size: small;
	text-align: center;
}

.ip-table .even td {
	background-color: white;
	font-size: small;
	text-align: center;
}
