.logview {
	width: auto;
}

.logview .nav {
	font-size: small;
	white-space: nowrap;
}

/*td {*/
/*	max-width: 500px;*/
/*	white-space:normal !important;*/
/*}*/

tr.odd td {
	background-color: #eee;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

tr.even td {
	background-color: white;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

tr.link td {
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

.warn {
	color: yellow;
}

.error {
	color: red;
}

.header{
	font-size: small;
	white-space: nowrap;
}