.matrix {
	width: 100%;
	font-size: small;
}

.matrix .odd td {
	background-color: #eee;
	font-size: small;
	text-align:right;
}

.matrix .even td {
	background-color: white;
	font-size: small;
	text-align:right;
}
.matrix th .left{
	text-align:left;
}

.matrix tr .left{
	text-align:left;
}