.problem {
	font-size: small;
	border-spacing: 1px;
}

.machines {
	font-size: small;
}

tr.odd td {
	background-color: #eee;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

tr.even td {
	background-color: white;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

td.odd  {
	background-color: #eee;
}

td.even  {
	background-color: white;
}

a.error {
	background-color: red;
}

a.failure {
	background-color: yellow;
}

a.long-url {
	background-color: blue;
}

.minute {
	
}

.detail {
	font-size: small;
	border-spacing: 1px;
}

#msgObjRef {
	position: absolute;
	text-align: center;
	border: 1px solid;
	border-color: #666699;
	background-color: #FFFFFF;
	line-height: 22px;
	z-index: 102;
}

#titleBar {
	text-align: left;
	color: #FFFFFF;
	cursor: move;
	background-color: #06C;
}

#closeBtn {
	width:10px;
	cursor: pointer;
	background-color: #06C;
}