.report .header {
	background: orange;
	color: white;
	font-weight: bold;
	border-bottom: solid black 1px;
	width: 100%;
}

.report .header .title {
	font-weight: bold;
	color: black;
	width:33%;
}

.report .navbar {
	background: lightblue;
	font-weight: bold;
	border-bottom: solid black 1px;
	width: 100%;
}

.report .navbar .domain {
	text-align: left;
	font-size: small;
	font-weight: bold;
	padding-left:4px;
}

.report .navbar .domain A {
	text-decoration: none;
	color: blue;
}

.report .navbar .domain .current {
	color: black;
}

.report .navbar .domain  A:hover {
	color: yellow;
}

.report .navbar .nav {
	text-align: right;
	font-size: small;
	font-weight: bold;
}

.report .header .nav {
	text-align: right;
	font-size: small;
	font-weight: bold;
	color: black;
	width:34%;
}

.report .header .switch {
	text-align: center;
	font-size: small;
	font-weight: bold;
	width:33%;
}

.report .navbar .nav A {
	text-decoration: none;
	color: blue;
}

.report .navbar .nav  A:hover {
	color: yellow;
}

.report .footer {
	background: orange;
	color: white;
	font-weight: bold;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	width: 100%;
	text-align: center;
}

.report .position{
	padding:4px;
	padding-left:10px;
	font-weight: bold;
	font-size: 14px;
	background: lightBlue;
}