.sql-table {
	width: auto;
	font-size: small;
}

.sql-table .odd td {
	background-color: #eee;
	font-size: small;
}

.sql-table .even td {
	background-color: white;
	font-size: small;
}

.sql-title {
	background-color: #F2F2F2;
	font-size: medium;
}