.transaction {
	width: auto;
	font-size: small;
}

.transaction tr th {
	text-align: left;
}

.transaction tr th.right {
	text-align: right;
}

.machines {
	font-size: small;
}

tr.odd td {
	background-color: #eee;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
	text-align: right;
}

tr.even td {
	background-color: white;
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
	text-align: right;
}

tr.link td {
	font-size: small;
	white-space: nowrap;
	vertical-align: top;
}

.warn {
	color: yellow;
}

.error {
	color: red;
}

.graph_link {
	font-weight: normal;
}

.graph {
	width: 450px;
	height: 200px;
	margin: 4px auto;
}

.pieChart {
	text-align:left;
	width: 700px;
	height: 450px;
	margin: 4px auto;
}

