<config local-mode="true">
	<storage local-base-dir="/data/appdatas/cat/bucket/" hdfs-disabled="false">
		<hdfs id="logview" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="logview" />
		<hdfs id="dump" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="dump" />
		<hdfs id="remote" max-size="128M" server-uri="hdfs://10.1.77.86/user/cat" base-dir="remote" />
		<properties>
			<property name="hadoop.security.authentication" value="kerberos" />
			<property name="dfs.namenode.kerberos.principal" value="hadoop/test86.hadoop@DIANPING.COM" />
			<property name="dfs.cat.kerberos.principal" value="cat@DIANPING.COM" />
			<property name="dfs.cat.keytab.file" value="/data/appdatas/cat/cat.keytab" />
			<property name="java.security.krb5.realm" value="DIANPING.COM" />
			<property name="java.security.krb5.kdc" value="dev80.hadoop" />
		</properties>
	</storage>

	<consumer>
		<long-config default-url-threshold="1000" default-sql-threshold="100" default-service-threshold="50">
			<domain name="Cat" url-threshold="500" sql-threshold="40" service-threshold="100" />
			<domain name="Dog" url-threshold="500" sql-threshold="40" />
		</long-config>
	</consumer>

	<console default-domain="Cat" show-cat-domain="true">
		<remote-servers>127.0.0.1:2281</remote-servers>
	</console>

	<!-- 
	<deployment>
		<cluster id="1" router="true">
			<description>...</description>
			<ip primary="127.0.0.1" backup="127.0.0.2"/>
			<ip primary="127.0.0.3" backup="127.0.0.2"/>
			<ip primary="127.0.0.5" backup="127.0.0.2"/>
			<domain>TuanGouWeb</domain>
			<domain>TuanGouRemote</domain>
		</cluster>
		<cluster id="2" application="true">
			<ip primary="127.0.0.1" backup="127.0.0.2"/>
			<domain>TuanGouWeb</domain>
			<domain>TuanGouRemote</domain>
		</cluster>
		<cluster id="3" application="true">
			<ip primary="*" backup="*"/>
			<domain>*</domain>
		</cluster>
		<cluster business="true"/>
		<cluster console="true"/>
	</deployment>
	 -->
</config>