# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Deploy

on:
  workflow_dispatch:
    inputs:
      auto_release:
        description: 'Run an automated release to the Central Repository'
        required: true
        type: boolean
        default: false
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: 'maven'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Drop the staging repository
        run: mvn nexus-staging:drop -P ossrh
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USER }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_TOKEN }}

      - name: Publish to the Maven Central Repository
        run: mvn deploy -B -P ossrh -DskipTests -pl :parent,:cat-client
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USER }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_TOKEN }}

      - name: Release to the Maven Central Repository
        if: ${{ github.event.inputs.auto_release == 'true'}}
        #test Action
        run: mvn nexus-staging:release -P ossrh
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USER }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_TOKEN }}

